<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>Hi, ich heiße Aljona alias
    <a href="https://fraulyoner.de/" target="_blank">Frau Lyoner</a>.
    In diesem Blog berichte ich von meinen Strategien im Kampf gegen
    <a href="{{ site.baseurl }}/tags/Multitalent">Gedankenchaos</a> und
    <a href="{{ site.baseurl }}/tags/Aufräumen">Unordnung</a>. Außerdem setze
    ich mich immer mehr mit dem Thema
    <a href="{{ site.baseurl }}/tags/Zero-Waste">Zero-Waste</a> auseinander und
    versuche unnötigen (Verpackungs-)Müll aus meinem Leben fernzuhalten.
  </p>
</div>
