<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>Hi, ich heiße Aljona alias
    <a href="https://fraulyoner.de/" target="_blank">Frau Lyoner</a>.
    In diesem Blog setze ich mich mit dem vielfältigen Thema Minimalismus
    auseinander. Ob Reduzierung von
    <a href="{{ site.baseurl }}/tags/Vielbegabt">Gedankenchaos</a>,
    <a href="{{ site.baseurl }}/tags/Aufräumen">Unordnung</a> oder
    <a href="{{ site.baseurl }}/tags/Less-Waste">Abfall</a>,
    hier schreibe ich über allerlei Strategien, um unnötigen Ballast
    loszulassen und das innere und äußere Chaos zu bändigen.
  </p>
</div>
