{% if site.theme_settings.rss %}
<li>
	<a href="{{ "/feed.xml" | relative_url }}" title="{{ site.theme_settings.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.instagram %}
<li>
	<a href="https://instagram.com/{{ site.theme_settings.instagram }}" title="{{ site.theme_settings.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.email_address %}
<li>
	<a href="{{ site.baseurl }}/contact.html" title="{{ site.theme_settings.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}
