.related-posts {
  @extend %site-el;
  @extend %padding-regular;

  p {
    @extend .meta;
  }

  ul {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    max-width: $post-image-width;
    vertical-align: top;
    width: 25%;
  }

  img {
    border: 1px solid $post-image-border-color;
    display: block;
  }
}
