.site-tags {
  width: 100%;
  border-bottom: 1px solid $border-color;
  float: left;
  @extend %padding-regular;

  p {
    @extend .meta;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
