.site-description {
  width: 100%;
  border-bottom: 1px solid $border-color;
  float: left;
  text-align: center;
  @extend %padding-regular;

  > p {
    margin: 0;
    text-align: left;
  }

  > img {
    border-radius: 50%;
    height: auto;
    margin-bottom: 1em;
    max-width: 100%;
    width: 150px;

    @media (min-width: 1000px) {
      float: left;
      margin: 0;
      margin-right: 2em;
    }
  }
}
